/* RESET HTML */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* RESET TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}


/* VARIBLES */

:root {

  /* COLORS */
--color-white: #fff;
--color-grey900:#48556A;
--color-grey500: #6E8098;
--color-grey400:#9DAEC2;
--color-grey200: #ECF2F8;


  /* SPACING */

  --spacing-160px: 10rem;
  --spacing-104px: 6.5rem;
  --spacing-64px: 4rem;
  --spacing-56px: 3.5rem;
  --spacing-48px: 3rem;
  --spacing-40px: 2.5rem;
  --spacing-32px: 2rem;
  --spacing-24px: 1.5rem;
  --spacing-16px: 1rem;

}

/* TYPOGRAPHY */
@font-face {
  font-family: Manrope-Bold;
  src: url(Manrope/static/Manrope-Bold.ttf);
}

@font-face {
  font-family: Manrope-Medium;
  src: url(Manrope/static/Manrope-Medium.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(Manrope/static/Manrope-Regular.ttf);
}


.text-preset1 {
  font-family: Manrope-Bold, sans-serif;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25px;
  color: var(--color-grey900);
}

.text-preset1-small {
  font-family: Manrope-Bold, sans-serif;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.25px;
  color: var(--color-grey900);
}

.text-preset2 {
  font-family: Manrope-Medium, sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: var(--color-grey500);
}

.text-preset3 {
  font-family: Manrope, sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 25%;
  color: var(--color-grey400);
}


/* MAIN-STYLING */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey200);
}

.article-content__wrapper {
  display: flex;
  align-items: stretch;
  max-width: 45rem;
  min-height: 17.5rem;
  background-color: var(--color-white);
  border-radius: 10px;
  overflow: visible;

}

.article-image {
  width: 40%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article-text__wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-32px) var(--spacing-40px);
}
.article-text__wrapper h1 {
  padding-bottom: var(--spacing-24px) ;
}


.article-author__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-24px);
}

.article-name__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
.article-avatar-image {
  width: var(--spacing-40px);
  height: auto;
  border-radius: 50%;
}

.share-button__wrapper {
  position: relative;
  /* display: flex;
  align-items: center; */
}
.share-button {
  display: flex;
  justify-content: center;
  width: var(--spacing-32px);
  height: var(--spacing-32px);
  background-color: var(--color-grey200);
  border-radius: 50%;
  padding: 8px;
  border: 0;
  position: relative;
  z-index: 2;
  top: 40%;
}

.share-button:hover{
  background-color: var(--color-grey500);
}
.share-button:hover .share-icon{

  color: var(--color-grey200);
}

.share-icon {
  color: var(--color-grey900)
}

.share-links__wrapper{
  width: 16rem;
  height: 4rem;
  background-color: var(--color-grey900);
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  border-radius: 10px;
  z-index: 10;

  display: none;
}

.share-links__wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: var(--color-grey900) transparent transparent transparent;
}

.share-links-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;

}

.share-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.share-links__wrapper.active {
  display: block;
}

/* MEDIA QUERIES */

/* TABLET */
@media (min-width: 769px) and (max-width: 1440px) {
  .article-content__wrapper {
    height: 21.5rem;
    max-width: 38rem;
  }


}
/* PHONE */
@media (min-width: 375px) and (max-width: 768px) {

  .article-content__wrapper {
    flex-direction: column;
    height: auto;
    max-width: 20rem;
  }

  .article-image {
   width: 100%;
   height: 200px;
  }

  .share-links__wrapper{
    width: 20rem;
    height: 5rem;
    background-color: var(--color-grey900);
    position: absolute;
    bottom: -30%;
    left: 200%;
    transform: translateX(-100%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-end-end-radius: 10px;
    padding-left: var(--spacing-32px);
    z-index: 1;

    display: none;
  }

  .share-links-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .share-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }

  .article-text__wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 18px 30px;
    width: 100%;
  }

  .article-name__wrapper {
   padding-top: 48px;
  }

  .share-button {
    top: 60%;
  }
  .share-links__wrapper::after {
    display: none;
  }
}
