/* RESET HTML */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* RESET TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}


/* VARIBLES */

:root {

  /* COLORS */
--color-white: #fff;
--color-grey900:#48556A;
--color-grey500: #6E8098;
--color-grey400:#9DAEC2;
--color-grey200: #ECF2F8;


  /* SPACING */

  --spacing-160px: 10rem;
  --spacing-104px: 6.5rem;
  --spacing-64px: 4rem;
  --spacing-56px: 3.5rem;
  --spacing-48px: 3rem;
  --spacing-40px: 2.5rem;
  --spacing-32px: 2rem;
  --spacing-24px: 1.5rem;
  --spacing-16px: 1rem;

}

/* TYPOGRAPHY */
@font-face {
  font-family: Manrope-Bold;
  src: url(Manrope/static/Manrope-Bold.ttf);
}

@font-face {
  font-family: Manrope-Medium;
  src: url(Manrope/static/Manrope-Medium.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(Manrope/static/Manrope-Regular.ttf);
}


.text-preset1 {
  font-family: Manrope-Bold, sans-serif;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.25px;
  color: var(--color-grey900);
}

.text-preset1-small {
  font-family: Manrope-Bold, sans-serif;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.25px;
  color: var(--color-grey900);
}

.text-preset2 {
  font-family: Manrope-Medium, sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: var(--color-grey500);
}

.text-preset3 {
  font-family: Manrope, sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 25%;
  color: var(--color-grey400);
}


/* MAIN-STYLING */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-grey200);
}

.article-content__wrapper {
  display: flex;
  align-items: center;
  max-width: 45rem;
  height: 17.5rem;
  background-color: var(--color-white);
  border-radius: 10px;

}

.article-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.article-text__wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-32px) var(--spacing-40px);
}
.article-text__wrapper h1 {
  padding-bottom: var(--spacing-24px) ;
}


.article-author__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-24px);
}

.article-name__wrapper {
  display: flex;
  justify-content: space-between;
}
.article-avatar-image {
  width: var(--spacing-40px);
  height: auto;
  border-radius: 50%;
}

.share-button__wrapper {
  display: flex;
  justify-content: center;
  width: var(--spacing-32px);
  height: var(--spacing-32px);
  background-color: var(--color-grey200);
  border-radius: 50%;
  padding: 8px;
}

#share-button {
  width: 100%;
}


/* MEDIA QUERIES */
@media (min-width: 375px) and (max-width: 800px) {

  .article-content__wrapper {
    flex-direction: column;
    height: 34rem;
    max-width: 20rem;
  }

  .article-image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
